.toolbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5vw;
    flex-wrap: wrap;
    width: 100%;
}

.filter_choice {
    display: flex;
    flex-direction: row;
    column-gap: 1.2rem;
    align-items: center;
}