html {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, p {
  margin: 0;
}