.header {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../../assets/img/bgr_dark.png");
    background-size: cover;
    background-position: center;
}

.header h1 {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}

.header_searchbox {
    width: 60vw;
    height: 14vh;
    background: rgba(255, 255, 255, 0.37);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;

}